/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CuadreDeCajaId]
      ,[Fecha]
      ,[Dosmil]
      ,[Mil]
      ,[Quinientos]
      ,[Doscientos]
      ,[Cien]
      ,[Cincuenta]
      ,[Veinticinco]
      ,[Veinte]
      ,[Diez]
      ,[Cinco]
      ,[Uno]
      ,[TotalVendido]
      ,[Diferencia]
      ,[TotalEnCaja]
  FROM [ControlInventario].[dbo].[CuadresDeCajas]